@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  Text {
    @apply font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary active:bg-primary/80 h-[56px] text-white font-semibold py-3 px-6 rounded-lg items-center justify-center;
  }
}

@layer utilities {
  .font-thin {
    font-family: "Montserrat-Thin";
    font-weight: 300;
  }

  .font-normal {
    font-family: "Montserrat";
    font-weight: 400;
  }

  .font-medium {
    font-family: "Montserrat-Medium";
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
  }

  .font-bold {
    font-family: "Montserrat-Bold";
    font-weight: 700;
  }
}
